################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DealManager
/DealManager/bin/Debug/net8.0
/DealManager/obj
